body{
	margin:0;
	padding: 0;
}
.contenedorPrincipal{
	padding: 50px;
	width: 300px;
	margin: 0 auto;
}
.div-content{
	background-color: #de4141;
	width: 300px;
	height: 300px;
	margin-bottom: 10px;
}
.div-content2{
	background-color: blue;
	width: 300px;
	height: 300px;
	position: relative;
}
.verde{
	position: relative;
	top: 75px;
	left: 75px;
	background-color: green;
	width: 150px;
	height: 150px;
}
.black{
	position: absolute;
	background-color: black;
	width: 75px;
	height: 75px;
}
.morado{
	position: relative;
	top: 75px;
	left: 75px;
	background-color: #801c74;
	width: 150px;
	height: 150px;
}
.amarillo{
	position: absolute;
	background-color: yellow;
	width: 75px;
	height: 75px;
}